.projects {
  position: relative;
  margin-top: 40px;

    .projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    img {
      width: 100%;
    }
    
    .project {
      min-width: min(300px, 100%);
      flex: 1;
      border-width: 2px;
      border-style: solid;
      box-shadow: #e1e1e1;
      transition: .5s;
      
      // Experimental
      // view-timeline-name: --revealing-image;
      // view-timeline-axis: block;
    
      // animation-name: show;
      // animation-timing-function: ease;
      // animation-fill-mode: both;
      // animation-timeline: --revealing-image;
      
      // animation-range: entry 25% cover 50%;
      &:hover {
        transform: translate(-5px, -5px);
        box-shadow: 5px 5px rgb(255, 182, 10);
      }
    }
    
    
    .project-info {
      position: relative;
      padding: 20px;
      
      .card-title {
        font-weight: bold;
      }
      
      .technologies {
        margin: 1.2em 0;
        
        i {
          font-size: 1.5em;
        }
      }
      
      .go-to {
        display: flex;
        gap: 6px;
        align-items: center;
        border-width: 2px;
        border-style: solid;
        padding: 6px 10px;
        position: absolute;
        bottom: 30px;
        right: 30px;
        
        font-size: 1.1em;
        transition: .25s;
      }
      
      .go-to:hover {
        background-color: $gold;
        transform: scale(1.1);
      }
    }
  }
  
/*   @keyframes show {
    from {
      opacity: 0;
      scale: 25%;
    }
    
    75% {
      opacity: 1;
      scale: 100%;
    }
  } */
}